<h2>Edit <%= @restaurant.name %></h2>

<%= render 'form', restaurant: @restaurant %>

<%= link_to 'Back to Restaurant', @restaurant, class:'btn btn-success' %> | <%= link_to 'Back', restaurants_path, class:'btn btn-success' %>
